# QUESTION1

In [85]:
#QUESTION 1 
# i)sorting the list and finding min and max
import math
#assigning ages to the list named ages
ages=[19, 22, 19, 24, 20, 25, 26, 24, 25, 24]
ages.sort()#sorting the ages with predefined fucntion called sort()
print("sorted list",ages)

sorted list [19, 19, 20, 22, 24, 24, 24, 25, 25, 26]

In [86]:
#ii) Add the min age and the max age again to the list
ages=[19, 22, 19, 24, 20, 25, 26, 24, 25, 24]
ages.sort()
X=ages[0]
Y=ages[-1]
print("Minimum age is",X,"and Maximum age",Y)
min_max=[X,Y]
ages.append(min_max)
ages

Minimum age is 19 and Maximum age 26

[19, 19, 20, 22, 24, 24, 24, 25, 25, 26, [19, 26]]

In [88]:
#iii)Find the median age (one middle item or two middle items divided by two)
ages=[19, 22, 19, 24, 20, 25, 26, 24, 25, 24]
n=len(ages)
ages.sort()

if n%2==0:
    median1=ages[n//2]
    median2=ages[n//2-1]
    median=(median1+median2)/2
    
else:
    median=ages[n//2]
print("median is : " +str(median))

median is : 24.0

In [89]:
#iv)Find the average age (sum of all items divided by their number)
ages=[19, 22, 19, 24, 20, 25, 26, 24, 25, 24]
sum_of_ages=sum(ages)
n=len(ages)
average= sum_of_ages/n
print("average of ages is", average)

average of ages is 22.8

In [90]:
#v)Find the range of the ages (max minus min)
print("range of ages list is",Y-X)

range of ages list is 7

# QUESTION 2

In [92]:
#i)Create an empty dictionary called dog
dog={}
#ii)Add name, color, breed, legs, age to the dog dictionary
dog={"Name":"","Color":"","Breed":"","Legs":"","Age":""} # dictionary has a key and value
print(dog)

#iii)creating a dictonary
student={"first_name":"Preethi","last_name":"Bukka","gender":"female","age":23,"maritial_status":"single","skills":["badminton","shopping"],"country":"india","city":"Hyderabad","address":"6550W"}
print(student)

#iv)Get the length of the student dictionary
print("Length of the student",len(student))#using len() 

#v)Get the value of skills and check the data type, it should be a list
print("student skills",student["skills"], type(student["skills"]))#geting the values of particular keys from dictionary 

#vi)Modify the skills values by adding one or two skills
student["skills"]=student["skills"]+["reading","python"]#adding valuesto particular keys to dictionary by using the key

#vii)Get the dictionary keys as a list
print("keys",student.keys())#keys() return all the keys in a dictionary

#viii)Get the dictionary values as a list
print("values",list(student.values()))

{'Name': '', 'Color': '', 'Breed': '', 'Legs': '', 'Age': ''}
{'first_name': 'Preethi', 'last_name': 'Bukka', 'gender': 'female', 'age': 23, 'maritial_status': 'single', 'skills': ['badminton', 'shopping'], 'country': 'india', 'city': 'Hyderabad', 'address': '6550W'}
Length of the student 9
student skills ['badminton', 'shopping'] <class 'list'>
keys dict_keys(['first_name', 'last_name', 'gender', 'age', 'maritial_status', 'skills', 'country', 'city', 'address'])
values ['Preethi', 'Bukka', 'female', 23, 'single', ['badminton', 'shopping', 'reading', 'python'], 'india', 'Hyderabad', '6550W']

# QUESTION 3

In [93]:
#creating a tuple and assigning values to it
brothers=("Kiran","Sai","Nani")
sisters=("Pranathi","Navya","Vidya")
siblings=brothers+sisters #using + operator we can join two tuples
print("my siblings",siblings)
print("i have",len(siblings), "siblings")
siblings=("Venkat","Vani")+siblings#adding new values to a tuple
family_members=siblings
print("family members",family_members)

my siblings ('Kiran', 'Sai', 'Nani', 'Pranathi', 'Navya', 'Vidya')
i have 6 siblings
family members ('Venkat', 'Vani', 'Kiran', 'Sai', 'Nani', 'Pranathi', 'Navya', 'Vidya')

# QUESTION 4

In [96]:
it_companies = {'Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon'}
A = {19, 22, 24, 20, 25, 26}
B = {19, 22, 20, 25, 26, 24, 28, 27}
age = [22, 19, 24, 25, 26, 24, 25, 24]

#1) Find the length of the set it_companies
print("total it companies ",len(it_companies))#len() return the length of the set

#2)Add 'Twitter' to it_companies
it_companies.add("Twitter")#add() is used to add new values to the set

#3)Insert multiple IT companies at once to the set it_companies
it_companies.update(["Accenture","Infosys"])#adding multiple values to the set using update
print("after adding multiple it companies ",it_companies)

#4)Remove one of the companies from the set it_companies
it_companies.remove("Microsoft")#remove() removes the value from set if the values exists else it throws error
print("after removing one value ",it_companies)

#5) difference between remove and discard
print("remove methode raises an error when value does'nt exists where as discard methode does'nt raise an error")

#6)Join A and B
C=A.union(B)#union() operation joins two sets
print("A Union B ", C)

#7) Find A intersection B
D=A.intersection(B)#intersection() returns the common date from two sets
print("A Intersection B ",D)

#8)Is A subset of B
print("is A is subset of B ",A.issubset(B))#issubset() return boolean value weather b is subset of a or not

#9)Are A and B disjoint sets
print("is A and B are disjoint sets ",A.isdisjoint(B))#isdisjoint() return boolean value weather b is disjoint sets or not

#10)Join A with B and B with A
joined_1 = A.union(B)
joined_2 = B.union(A)

#11)What is the symmetric difference between A and B
print("the symmetric difference between A and B ",A.symmetric_difference(B))

#12)#clear() used for deleting the set
A.clear()
B.clear()

#13)Convert the ages to a set and compare the length of the list and the set.
age_set=set(age)#type conversion from list ot set
print("converted age list to set ",age_set)
print("difference between length of age list and length of age set is ",len(age)-len(age_set))

total it companies  7
after adding multiple it companies  {'Microsoft', 'Apple', 'Google', 'IBM', 'Accenture', 'Twitter', 'Amazon', 'Oracle', 'Facebook', 'Infosys'}
after removing one value  {'Apple', 'Google', 'IBM', 'Accenture', 'Twitter', 'Amazon', 'Oracle', 'Facebook', 'Infosys'}
remove methode raises an error when value does'nt exists where as discard methode does'nt raise an error
A Union B  {19, 20, 22, 24, 25, 26, 27, 28}
A Intersection B  {19, 20, 22, 24, 25, 26}
is A is subset of B  True
is A and B are disjoint sets  False
the symmetric difference between A and B  {27, 28}
converted age list to set  {19, 22, 24, 25, 26}
difference between length of age list and length of age set is  3

# QUESTION 5

In [97]:
#The radius of a circle is 30 meters.
#I)Calculate the area of a circle and assign the value to a variable name of _area_of_circle_
radius=int((input("enter radius")))#input() allows dynamic input from the user
_area_of_circle_=3.14*(radius**2)#using area of cirlce formula

#II)Calculate the circumference of a circle and assign the value to a variable name of _circum_of_circle_
_circum_of_circle_=2*3.14*radius
print("Area of Circle ",_area_of_circle_)
print("Circumference of circle ",_circum_of_circle_)

enter radius30
Area of Circle  2826.0
Circumference of circle  188.4

# QUESTION 6

In [100]:
sentence = "I am a teacher and I love to inspire and teach people"
unique_letter=set(sentence.split())#Splits a string into a list where each word is a list item
print("No.of unique words are ",len(unique_letter))

No.of unique words are  10

# QUESTION 7

In [103]:
print("Name\tAge\tCountry\tCity\nPreethi\t23\tIndia\tHyderabad")#using escape sequence

Name	Age	Country	City
Preethi	23	India	Hyderabad

# QUESTION 8

In [104]:
#String formating method
radius = 10
area = 3.14 * radius ** 2
print("The area of a circle with radius %s is %s meters square." %(radius,area))

The area of a circle with radius 10 is 314.0 meters square.

# QUESTION 9

In [105]:
no_of_students=int(input("Enter no of students "))#reading input from the user
#creating empty list
weights_in_lbs=[]
weights_in_kg=[]
for stu in range(no_of_students):
    weights_in_lbs.append(int(input("enter weight of "+str(stu)+" ")))#reading user input and appending to the list
    weights_in_kg.append(round(weights_in_lbs[stu]*0.453592,2))#using mathmaticle operators coverting lbs to kg 
print("Weights in Lb",weights_in_lbs)
print("Weights in Kg",weights_in_kg)

Enter no of students 4
enter weight of 0 150
enter weight of 1 155
enter weight of 2 145
enter weight of 3 148
Weights in Lb [150, 155, 145, 148]
Weights in Kg [68.04, 70.31, 65.77, 67.13]